http:
  host:
  port:
  debug:
  useJsonLogger:

db:
  postgres:
    dialect:
    host:
    port:
    username:
    password:
    database:

keycloak:
  url:
  realm:
  clientId:
  secret:
  logLevels:
  useNestLogger:
  jwksRequestsPerMinute:
  issuer:
  jwksUri:

keycloakDatabase:
  dialect:
  host:
  port:
  username:
  password:
  database:
  realmId: